@font-face {
	font-family: 'Alexandria';
	src: url('./fonts/alexandria-v1-latin-regular.woff2') format('woff2'),
		url('./fonts/alexandria-v1-latin-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Alexandria';
	src: url('./fonts/alexandria-v1-latin-600.woff2') format('woff2'),
		url('./fonts/alexandria-v1-latin-600.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
		url('./fonts/open-sans-v34-latin-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/open-sans-v34-latin-700.woff2') format('woff2'),
		url('./fonts/open-sans-v34-latin-700.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'IrmaIcons';
	src: url('./fonts/irma-icons.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
	line-height: 24px;
	background-color: #F7F5F3;
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

a {
	color: #484747;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	background: #FFFFFF;
	color: #484747;
	border-bottom: 1px solid #CFE4EF;
}

header h1 {
	text-align: center;
	padding: 16px;
}

h1 {
	display: block;
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	padding: 16px 0;
	font-weight: bold;
	font-family: 'Alexandria', Verdana, Arial, sans-serif;
}

main {
	padding: 16px;
	line-height: 24px;
	font-size: 16px;
	color: #484747;
	max-width: 600px;
	margin: auto;
	flex: 1;
}

#phone-confirm {
	font-weight: bold;
}


.hidden {
	display: none;
}

.button-hidden {
	visibility: hidden;
}

.alert {
	max-width: 600px;
	margin: 16px auto 16px auto;
	padding: 20px;
	color: #FFFFFF;
	border-radius: 6px;
}

.status-container {
	display: flex;
	align-items: center;
}

.alert-info {
	background-color: #96C5E1;
}

.alert-danger {
	background-color: #C30025;
}

.alert-warning {
	background-color: #CE5700;
}

.alert-success {
	background-color: #00973A;
}

.alert-success .status-container:before {
	font-family: 'IrmaIcons';
	font-size: 24px;
	font-style: normal;
	line-height: initial;
	vertical-align: middle;
	content: '\E026';
	margin-right: 16px;
}

label {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	display: block;
	font-family: 'Alexandria';
	color: #484747;
}

input {
	height: 32px;
	display: block;
	border: none;
	border-bottom: 2px solid #484747;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	background-color: transparent;
}

input.error {
	border-color: #d44454;
	color: #d44454;
}

input.error:focus {
	outline: 2px solid #d44454;
}

#phone-confirm {
	border-style: none;
}

.confirm-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	border-bottom: 1px solid #484747;
}

.confirm-container:after {
	font-family: 'IrmaIcons';
	font-size: 20px;
	float: right;
	line-height: initial;
	vertical-align: middle;
	content: '\E026';
	color: #00973A;
}

footer {
	padding: 16px;
	background: #FFFFFF;
	box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);
}

footer .actions {
	max-width: 600px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

footer a,
footer button {
	font-family: 'Alexandria', Verdana, Arial, sans-serif;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 6px;
	box-sizing: border-box;
	width: 48%;
	height:48px;
	line-height: 48px;
	max-width: 343px;
}

footer a {
	background-color: #FFFFFF;
	text-decoration: none;
	color: #484747;
	border: 1px solid #484747;
}

footer button {
	border: none;
	color: #FFFFFF;
	background: #E12747 url('./images/button-primary.svg') no-repeat right top;
}

.iti-flag {
	background-image: url("telwidget/img/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.iti-flag {
		background-image: url("telwidget/img/flags@2x.png");
	}
}

input[type="tel"] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	display: table-cell;
}

.intl-tel-input {
	display: block;
	width: 100%;
}

.flag-container {
	z-index: 4;
}

#block-token {
	margin-top: 1em;
}

@media only screen and (max-width: 640px) {
	.alert {
		margin: 16px;
	}
}

@media only screen and (max-width: 340px) {

	html,
	body,
	footer a,
	footer button,
	input {
		font-size: 14px;
	}
}